<form action="" method="post">
{% csrf_token %}
{% regroup transactionlist by shirtsize as shirtsizes %}
    <ul>
    {% for ss in shirtsizes %}
    <li>{{ ss.grouper }}
    <ul>
        {% for i in ss.list %}
        <li>{{ i.cutorder }}{{ i.CutOrder }}{{ i.CutOrder.errors }} - {{ i.totalpieces }} - {{ i.Pieces }}{{ i.Pieces.errors }}{{ i.Color }}{{ i.Color.errors }}{{ i.ShirtPrice }}{{ i.ShirtPrice.errors }}{{ i.ShirtStyleVariation }}{{ i.ShirtStyleVariation.errors }}{{ i.FormType }}</li>
        {% endfor %}
    </ul>
    </li>
    {% endfor %}
    </ul>
    <input name="totalforms" type="hidden" value="{{ totalforms }}"/>
    <input type="submit" value="submit"/>
</form>
