{% extends "sales/base.html" %}

{% block body %}
<fieldset>
    <table>
        <tr>
            <th>Shirt Style:</th>
            <td>{{ shirtstyle.ShirtStyleNumber }} {{ shirtstyle.ShirtStyleDescription }}{{ shirtstyle.ShirtStyle.ShirtStyleDescription }}</td>
        </tr>
        <tr>
            <th>Color:</th>
            <td>{{ color }}</td>
        </tr>
    </table>
</fieldset>
<form action="" method="post">
{% csrf_token %}
{% regroup transactionlist by shirtsize as shirtsizes %}
    {% for ss in shirtsizes %}
    <fieldset class='inlineblock well'>
        <h3>
            {{ ss.grouper.ShirtSizeAbbr }} - 
            {% for sizetotal in sizetotals %}
                {% if ss.grouper.id == sizetotal.sizeid %}
                    {{ sizetotal.totalinventory }} pieces
                {% endif %}
            {% endfor %}
        </h3>
        <table style='text-align:center' id='inventory' class='table table-condensed table-bordered'>
            <tr>
                <th>Cut<br/>Order</th>
                <th>Current<br/>Inventory</th>
                <th>Inventory<br/>Modification</th>
                <th></th>
            </tr>
            {% for i in ss.list %}
            <tr>
                <td>{{ i.cutorder }}{{ i.CutOrder }}</td>
                <td>{{ i.totalpieces }}</td>
                <td>{{ i.Pieces }}{{ i.Color }}{{ i.ShirtPrice }}{{ i.ShirtStyleVariation }}{{ i.FormType }}</td>
                <td>{{ i.addorsubtract }}</td>
            </tr>
            {% endfor %}
        </table>
    </fieldset>
    {% endfor %}
    <div class='clear'></div>
    <input name="totalforms" type="hidden" value="{{ totalforms }}"/>
    <input type="submit" value="submit"/>
</form>
{% endblock %}
