{% extends "sales/search.html" %}

{% block results %}
{% if shirtstyles %}
  <table class="table table-bordered table-striped table-condensed tablesorter">
    <thead>
    <tr>
        <th colspan=4><h3>Garment Styles</h3></td>
    </tr>
    <tr>
        <th>Style Number</th>
        <th>Description</th>
    </tr>
    </thead>
    {% for shirtstyle in shirtstyles %}
    <tr>
        <td><a href="/inventory/{{ shirtstyle.id }}">{{ shirtstyle.ShirtStyleNumber }}</a></td>
        <td>{{ shirtstyle.ShirtStyleDescription }}</td>
    </tr>
    {% endfor %}
  </table>
{% else %}
  <p>No styles found</p>
{% endif %}
{% endblock %}
