{% extends "sales/base.html" %}

{% load orderform_extras %}

{% block body %}

    <h1>Inventory Summary for {{ style_name }}</h1>

    <table class="table table-bordered table-condensed" style="width: auto;">
        <tbody>
            <tr>
                <th></th>
                {% for color in qtys %}
                    <th>{{ color }}</th>
                {% endfor %}
            </tr>
            {% for size in sizes %}
                <tr>
                    <th>{{ size }}</th>
                    {% for color in qtys %}
                        <td>{{ qtys|hash_zero:color|hash_zero:size }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
