body {
    font-size: 85%;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

input[type=text],
input[type=password],
textarea,
select,
.highlighted,
.inputmimic {
    background-color: #D7FFCE;
    border: 1px solid #BBB;
}

input.error,
select.error,
textfield.error {
    background-color: #FFA8B4;
    background-image: url('/static/common/images/toprightcorner.png');
    background-repeat: no-repeat;
    background-position: top right;
}

input[type=text]:disabled,
input[type=password]:disabled,
textarea:disabled,
select:disabled,
.disabled {
    background-color: #EBEBE4;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
    border-color: #666;
}

input[type=text].digit,
input[type=text].short {
    width: 40px;
    text-align: center;
}

input[type=text].veryshort {
    width:20px;
}

fieldset {
    border: 2px solid #CCC;
    background-color: #F2F2F2;
    margin-top: 10px;
    position: relative;
}

fieldset fieldset {
    margin-top: 0px;
    border-width: 1px;
}

fieldset legend {
    font-weight: bold;
    text-align: left;
}

fieldset fieldset legend {
    font-weight: normal;
    font-style: italic;
}

