{% extends "sales/base.html" %}

{% block extrahead %}
<script type="application/javascript">
    $(function(){
        $('.selectable').selectable();
    });

    function choosecolor(shirtstyleid, shirtstylevariationid, colorid){
        var customeraddressid = {{ customeraddressid }};
        if(shirtstylevariationid===null)
            shirtstylevariationid=0;
        $.getJSON('/data/shippingorderskus/', {'shirtstyleid':shirtstyleid, 'variationid':shirtstylevariationid, 'colorid':colorid, 'addressid':customeraddressid}, function(data){
            var orderlist = ""
            var cutlist = ""
            $.each(data, function(i, item) {
                orderlist += "<li id='" + item.ShirtPrice + "'>Shirt Size: " + item.abbr + " - Inventory: " + item.total + "<ul>";
                cutlist += "<li id='" + item.ShirtPrice + "'>Shirt Size: " + item.abbr + " - Inventory: " + item.total + "<ul>";
                $.each(item.orderedpieces, function(i, po) {
                    orderlist += "<li id='" + po.shirtordersku + "'>PO#" + po.ponumber + " - " + po.orderquantity + " Shirts</li>";
                });
                $.each(item.cutpieces, function(i, cut) {
                    cutlist += "<li id='" + cut.cutorder + "'>cut#" + cut.cutorder + " - " + cut.inventory + " Shirts</li>";
                });
                orderlist += "</ul></li>";
                cutlist += "</ul></li>";
            });
            orderlist += "</li>";
            $('#orderlist').html(orderlist);
            $('#cutlist').html(cutlist);
        });
    }
</script>
<style type="text/css">
    #orderlist {
        float:left;
    }
    #cutlist {
        float:right;
    }
</style>
{% endblock %}

{% block body %}
{% regroup ordercolors by parentstyle as parentstyles %}
    <ul>
    {% for parentstyle in parentstyles %}
        <li>{{ parentstyle.grouper }}
            <ul>
                {% for color in parentstyle.list %}
                    <li><a href="#" onClick="choosecolor({{ color.ShirtPrice__ShirtStyle }},{{ color.ShirtStyleVariation|default:'null' }},{{ color.Color.id }})">{{ color.Color }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
    
    <ul id='orderlist'></ul>
    <ul id='cutlist'></ul>
{% endblock %}
