{% extends "sales/base.html" %}

{% block extrahead %}
<script type="application/javascript">
    $(function(){
        addbox();
    });
    
    var nextprefix = {{ skucount }} + 1;
    function fillbox(box){
        if($('#cutselected').length & $('#orderselected').length){
            var cutorder = $('#cutselected').attr('data-cutorder');
            var ordersku = $('#orderselected').attr('data-ordersku');
            var maxquantity = Math.min($('#co' + cutorder + 'remaining').html(),$('#sos' + ordersku + 'remaining').html());
            var box = $(box).attr('data-box');
            $.get('/shipping/shipmentsku/', {'shirtorderskuid':ordersku, 'cutorder':cutorder, 'box':box, 'prefix':nextprefix}, function(data){
                $('#box' + box + ' table').append(data);
                if($('#box' + box).hasClass('hasitems') === false){
                    addbox();
                    $('#box' + box).addClass('hasitems')
                }
                var quantityfield = $('#id_' + nextprefix + '-ShippedQuantity');
                quantityfield.change(function() {
                    quantityupdated(this);
                });
                quantityfield.val(maxquantity);
                quantityupdated(quantityfield);
                deselect();
                $('#skucount').val(nextprefix);
                ++nextprefix;
            });
        }
    }
    
    function quantityupdated(quantityfield, freshload){
        var prefix = $(quantityfield).attr("id").match(/[\d]+/);

        var cutorder = $('#id_' + prefix + '-CutOrder').val();
        var cospan = $('#co' + cutorder + 'remaining');
        var coremainingquantity = cospan.html();
        
        var ordersku = $('#id_' + prefix + '-ShirtOrderSKU').val();
        var sosspan = $('#sos' + ordersku + 'remaining');
        var sosremainingquantity = sosspan.html();
        
        if(freshload === undefined){
            var oldvalue = ($(quantityfield).attr('data-oldvalue')) ? $(quantityfield).attr('data-oldvalue') : 0;
        }
        else{
            var oldvalue = 0;
        }
        var newvalue = $(quantityfield).val();
        var changevalue = newvalue - oldvalue;

        var newsosvalue = sosremainingquantity - changevalue;
        var newcovalue = coremainingquantity - changevalue;

        if(freshload === undefined & (newsosvalue < 0 || newcovalue < 0)){
            alert("You don't have that many shirts!");
            $(quantityfield).val(oldvalue)
        }
        else {
            $(sosspan).html(newsosvalue);
            $(cospan).html(newcovalue);
            $(quantityfield).attr('data-oldvalue',newvalue);
        }
    }
    
    function deselect(){
        $('#cutselected, #orderselected').attr('id','');
        $('.cut').addClass('unselectable');
    }
    
    var nextbox = {{ boxcount }} + 1;
    function addbox(){
        var newbox = $('#boxtemplate').clone();
        $(newbox).attr('id','box' + nextbox).attr('data-box',nextbox)
        $('#boxes').append(newbox);
        $('#box' + nextbox + ' .boxnumber').html(nextbox);
        ++nextbox;
    }

    function choosecolor(shirtstyleid, shirtstylevariationid, colorid){
        var customeraddressid = {{ customeraddressid }};
        if(shirtstylevariationid===null)
            shirtstylevariationid=0;
        $.getJSON('/data/shippingorderskus/', {'shirtstyleid':shirtstyleid, 'variationid':shirtstylevariationid, 'colorid':colorid, 'addressid':customeraddressid}, function(data){
            var orderlist = ""
            var cutlist = ""
            $.each(data, function(i, item) {
                orderlist += "<li id='" + item.ShirtPrice + "'>Shirt Size: " + item.abbr + " - Inventory: " + item.total + "<ul>";
                cutlist += "<li id='" + item.ShirtPrice + "'>Shirt Size: " + item.abbr + " - Inventory: " + item.total + "<ul>";
                $.each(item.orderedpieces, function(i, po) {
                    orderlist += "<li class='orderselectable' data-shirtprice='" + po.shirtprice + "' data-ordersku='" + po.shirtordersku + "'>PO#" + po.ponumber + " - <span id='sos" + po.shirtordersku + "quantity'>" + po.orderquantity + "</span> Shirts (<span id='sos" + po.shirtordersku + "remaining'>" + po.orderquantity + "</span> remaining)</li>";
                });
                $.each(item.cutpieces, function(i, cut) {
                    cutlist += "<li class='cut unselectable' data-shirtprice='" + cut.shirtprice + "' data-cutorder='" + cut.cutorder + "'>cut#" + cut.cutorder + " - <span id='co" + cut.cutorder + "quantity'>" + cut.inventory + "</span> Shirts (<span id='co" + cut.cutorder + "remaining'>" + cut.inventory + "</span> remaining)</li>";
                });
                orderlist += "</ul></li>";
                cutlist += "</ul></li>";
            });
            orderlist += "</li>";
            $('#orderlist').html(orderlist);
            $('#cutlist').html(cutlist);
            $('.orderselectable').click(function(){
                $('#orderselected').attr('id','');
                $(this).attr('id','orderselected');
                $('.cut').addClass('unselectable');
                $('#cutselected').attr('id','');
                $(".cut[data-shirtprice='" + $(this).attr('data-shirtprice') + "']").removeClass('unselectable');
            });
            $('.cut').click(function(){
                if($(this).hasClass('unselectable')){
                    alert('you must select inventory of the same size!');
                }
                else {
                    $('#cutselected').attr('id','');
                    $(this).attr('id','cutselected');
                }
            });
            refreshremaining()
        });
    }
    
    function removesku(prefix){
        var delquantityfield = $('#id_' + prefix + '-ShippedQuantity')
        delquantityfield.val('0');
        quantityupdated(delquantityfield);
        $('#id_' + prefix + '-delete').val('1');
        $('#row' + prefix).hide();
    }
    
    function refreshremaining(){
        $('.shippedquantity').each(function(){
            quantityupdated(this,1);
        });
    }
</script>
<style type="text/css">
    #orderlist {
        float:left;
    }
    #cutlist {
        float:right;
    }
    .orderselectable, .cut {
        cursor:pointer;
    }
    #orderselected, #cutselected {
        background-color:yellow;
    }
    .unselectable {
        color:gray;
    }
    #boxes {
        float:left;
    }
    .box {
        border:1px solid black;
        float:left;
    }
    #boxtemplate {
        display:none;
    }
    .shippedquantity {
        width:60px;
    }
</style>
{% endblock %}

{% block body %}
<form method="post" action="">
{% csrf_token %}
{{ shipment.as_p }}
{% regroup ordercolors by parentstyle as parentstyles %}
    <ul>
    {% for parentstyle in parentstyles %}
        <li>{{ parentstyle.grouper }}
            <ul>
                {% for color in parentstyle.list %}
                    <li><a href="#" onClick="choosecolor({{ color.ShirtPrice__ShirtStyle }},{{ color.ShirtStyleVariation|default:'null' }},{{ color.Color.id }})">{{ color.Color }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
    
    <ul id='orderlist'></ul>
    <div id='boxes'>
        {% include "sales/shipping/shipmentbox.html" %}
    </div>
    <ul id='cutlist'></ul>
    <div class='box' id='boxtemplate' data-box='' onClick='fillbox(this)'>
        Box <span class='boxnumber'></span>
        <table>
            <tr>
                <th>SKU</th>
                <th>PO</th>
                <th>CO</th>
                <th>Quantity</th>
            </tr>
        </table>
    </div>
    <input type="hidden" id="skucount" name="skucount" value="{{ skucount }}"/>
    <input type="submit" value="Submit"/>
    </form>
{% endblock %}
