{% extends "sales/base.html" %}
{% block body %}
<h3>Purchase Orders by Due Date</h3>
Select a purchase order to begin a shipment
<table style='text-align:center;' class='table table-bordered table-condensed tablesorter'>
<thead>
    <tr>
        <th>PO Number</th>
        <th>Customer</th>
        <th>Have/Ordered</th>
        <th>Due Date</th>
    </tr>
</thead>
<tbody>
{% for po in purchaseorders %}
    <tr>
        <td><a href='{{ po.CustomerAddress.id }}'>{{ po.PONumber }}</a></td>
        <td><a href='{{ po.CustomerAddress.id }}'>{{ po.Customer }}</a></td>
        <td><a href='{{ po.CustomerAddress.id }}'>{{ po.fillableshirts }}/{{ po.totalshirts }}</a></td>
        <td><a href='{{ po.CustomerAddress.id }}'>{{ po.DueDate }}</a></td>
    </tr>
{% endfor %}
</tbody>
</table>



{% regroup addresses by Customer as customers %}
    <ul>
    {% for customer in customers %}
        <li>{{ customer.grouper }}
            <ul>
                {% for address in customer.list %}
                    <li><a href="{{ address.id }}">{{ address }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
