<h3>Purchase Orders by Due Date</h3>
Select a purchase order to begin a shipment
<table style='text-align:center;'>
    <tr>
        <th>PO Number</th>
        <th>Customer</th>
        <th>Have/Ordered</th>
        <th>Due Date</th>
    </tr>
{% for po in purchaseorders %}
    <tr>
        <td><a href='{{ po.CustomerAddress.id }}'>{{ po.PONumber }}</a></td>
        <td>{{ po.Customer }}</td>
        <td>{{ po.fillableshirts }}/{{ po.totalshirts }}</td>
        <td>{{ po.DueDate }}</td>
    </tr>
{% endfor %}




{% regroup addresses by Customer as customers %}
    <ul>
    {% for customer in customers %}
        <li>{{ customer.grouper }}
            <ul>
                {% for address in customer.list %}
                    <li><a href="{{ address.id }}">{{ address }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
