{% extends "sales/search.html" %}

{% block results %}
{% if shipments %}
  <table class="table table-bordered table-striped table-condensed tablesorter">
    <thead>
    <tr>
        <th>Shipment ID</th>
        <th>Tracking Number</th>
        <th>Customer</th>
        <th>Ship Address</th>
    </tr>
    </thead>
    {% for shipment in shipments %}
    <tr>
        <td><a href='/shipping/{{ shipment.pk }}'>{{ shipment.pk }}</a></td>
        <td><a href='/shipping/{{ shipment.pk }}'>{{ shipment.TrackingNumber }}</a></td>
        <td><a href='/shipping/{{ shipment.pk }}'>{{ shipment.CustomerAddress.Customer }}</a></td>
        <td><a href='/shipping/{{ shipment.pk }}'>{{ shipment.CustomerAddress }}</a></td>
    </tr>
    {% endfor %}
  </table>
{% else %}
  <p>No shipments found</p>
{% endif %}
{% endblock %}
