{% for shipmentsku in shipmentskus %}
    <tr id='row{{ shipmentsku.prefix }}'>
        <td>{{ shipmentsku.shirtskulabel }}</td>
        <td>{{ shipmentsku.purchaseorder }}</td>
        <td>{{ shipmentsku.cutorder }}</td>
        <td>{{ shipmentsku.form.PK }}{{ shipmentsku.form.ShirtOrderSKU }}{{ shipmentsku.form.BoxNumber }}{{ shipmentsku.form.CutOrder }}{{ shipmentsku.form.ShippedQuantity }}{{ shipmentsku.form.delete }}<input type='button' onClick="removesku('{{ shipmentsku.prefix }}')" value='X'/></td>
    </tr>
{% endfor %}
