{% load orderform_extras %}
<tr id='row{{ form.prefix }}'>
    <td style='vertical-align:middle;' class='delete'>
        <div onClick="removestyle('{{ form.prefix }}')"><a class='inline-deletelink' href='javascript:void(0)'>Remove</a></div>
    </td>
    <td>{{ form.shirtstyle }}{{ form.shirtstylevariation }}
    <h4>
    {% if shirtstylevariation %}
        {{ shirtstylevariation.ShirtStyleNumber }}
    {% else %}
        {{ shirtstyle.ShirtStyleNumber }} 
    {% endif %}
    {{ shirtstyle.ShirtStyleDescription }}</h4></td>
    <td>{{ form.color }}{{ form.shirtstylevariation }}{{ form.sizes }}{{ form.shirtstyleid }}</td>
    {% for quantityfield, pricefield, pricefkeyfield in form.fieldset %}
            <td>
                {{ form|hash:quantityfield|attr:'label' }}
                ${{ form|hash:pricefield }}<br/>
                {{ form|hash:quantityfield }}<br/>
                {{ form|hash:pricefkeyfield }}
            </td>
    {% endfor %}
</tr>
