{% extends "admin/change_form.html" %}

{% block extrastyle %}

	{{ block.super }}

	<style type="text/css">
		
		#matrix_fieldset {
			padding-left: 200px;
			padding-right: 200px;
			height: 400px;
		}

		#matrix_fieldset ul {
			padding: 10px;
		}

		#matrix_fieldset ul li {
			list-style: none;
		}

		.matrix_column {
			float: left;
			margin: 0px;
			padding: 0px;
			position: relative;
			height: 100%;
		}

		.matrix_column ul li label {
			margin-left: 5px;
		}

		#cc_column {
			width: 200px;
			margin-left: -100%;
			right: 201px;
			border-right: 1px solid gray;
		}

		#matrix {
			width: 100%;
		}
		
		#matrix_table {
			margin: 10px;
		}

		#size_column {
			width: 200px;
			margin-right: -201px;
			border-left: 1px solid gray;
		}

	</style>

{% endblock %}

{% block extrahead %}

	{{ block.super }}

	<script type="application/javascript">

		{# jQuery selector for exact match on element contents #}
		django.jQuery.extend(django.jQuery.expr[":"], {
			containsExact: function(a, i, m) {
				return django.jQuery.trim(a.innerHTML) === m[3];
			}
		});

		{# Add a matrix row for a color category #}
		function matrix_add_cc(cc) {
			if (cc === "")
				return;
			var num_cols = django.jQuery("#matrix_table")[0].rows[0].cells.length;
			var new_row = "<tr>";
			new_row += "<td>" + cc + "</td>";	{# First cell contains color category name #}
			for (var i = 2; i <= num_cols; ++i)
				new_row += "<td></td>";
			new_row += "</tr>";
			django.jQuery("#matrix_table tbody").append(new_row);
		}

		{# Add a matrix column for a shirt size #}
		function matrix_add_size(size) {
			if (cc === "")
				return;
			var rows = django.jQuery("#matrix_table tr");
			django.jQuery(rows[0]).append("<td>" + size + "</td>");
			rows.slice(1).each(function() {
				django.jQuery(this).append("<td></td>");
			});
		}

	</script>

{% endblock %}

{% block after_field_sets %}
	<fieldset id="matrix_fieldset">
		<div id="matrix" class="matrix_column">
			<table id="matrix_table">
				<tbody>
					<tr>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="cc_column" class="matrix_column">
			<ul>
				{% for cc in color_categories %}
					<li><input type="checkbox" id="cc-{{ cc.pk }}" name="cc" value="{{ cc.pk }}"><label for="cc-{{ cc.pk }}">{{ cc }}</li>
				{% endfor %}
			</ul>
		</div>
		<div id="size_column" class="matrix_column">
			<ul>
				{% for size in sizes %}
					<li><input type="checkbox" id="size-{{ size.pk }}" name="size" value="{{ size.pk }}"><label for="size-{{ size.pk }}">{{ size }}</li>
				{% endfor %}
			</ul>
		</div>
	</fieldset>
{% endblock %}
