{% extends "admin/change_form.html" %}

{% block extrastyle %}

	{{ block.super }}

	<style type="text/css">
		
		#matrix_fieldset {
			padding-left: 200px;
			padding-right: 200px;
		}

		#matrix_fieldset ul li {
			list-style: none;
		}

		.matrix_column {
			float: left;
			margin: 0px;
			padding: 0px;
			position: relative;
		}

		#cc_column {
			width: 200px;
			margin-left: -100%;
			right: 200px;
		}

		#matrix {
			width: 100%;
		}

		#size_column {
			width: 200px;
			margin-right: -200px;
		}

	</style>

{% endblock %}

{% block after_field_sets %}
	<fieldset id="matrix_fieldset">
		<div id="matrix" class="matrix_column">
			THIS IS THE MATRIX. WHOA.
		</div>
		<ul id="cc_column" class="matrix_column">
			{% for cc in color_categories %}
				<li><input type="checkbox" id="cc-{{ cc.pk }}" name="cc" value="{{ cc.pk }}"><label for="cc-{{ cc.pk }}">{{ cc }}</li>
			{% endfor %}
		</ul>
		<ul id="size_column" class="matrix_column">
			{% for size in sizes %}
				<li><input type="checkbox" id="size-{{ size.pk }}" name="size" value="{{ size.pk }}"><label for="size-{{ size.pk }}">{{ size }}</li>
			{% endfor %}
		</ul>
	</fieldset>
{% endblock %}
