<!DOCTYPE html>

<html>
    <head>

        <meta http-equiv="Content-Script-Type" content="application/javascript">

        <script type="application/javascript" src="/static/common/js/jquery-1.5.2.min.js"></script>
        <script type="application/javascript" src="/static/common/js/jquery-ui-1.8.11.custom.min.js"></script>

        <link rel="stylesheet" type="text/css" href="/static/common/css/jquery-ui-1.8.11.custom.css">

        {% block extrahead %}{% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
