<script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>

<script type="application/javascript">
function getprices(){
	
}
</script>

{% for si in skuinventory %}
	{{ si.Pieces }} {{ si.ShirtStyleSKU }}<br/>
{% endfor %}

{% for i in shirtstyleinventory %}
	<br/>{{ i.ShirtStylePrice.ShirtStyle }} - {{ i.ShirtStylePrice }} - {{ i.StyleColor }} - {{ i.total_inventory }}
{% endfor %}

<h2>Current inventory for {{ shirt_style }}</h2>
<ul>
	{% for k, v in display_colors.items %}
		<li>{{ k }}
			<ul>
				{% for sku in v %}
					<li>{{ sku.ShirtStylePrice.ShirtStyleSize }} - {{ sku.total_inventory }}</li>
				{% endfor %}
			</ul>
		</li>
	{% endfor %}
</ul>

<h2>Priced colors for {{ shirt_style }}</h2>
<ul>
    {% for color in priced_colors %}
        <li>{{ color }}</li>
    {% endfor %}
</ul>
