{% extends "sales/base.html" %}

{% block body %}
    <form method='post' action=''>
    {% csrf_token %}
    {% for categoryform in categoryforms %}
        <fieldset>
            <legend>Category: {{ categoryform.ColorCategoryName }}</legend>
            {{ categoryform.pk }}
            {% for colorform in colorforms %}
                {% if colorform.parentprefix.value == categoryform.prefix %}
                    <div>{{ colorform.ColorName }}{{ colorform.pk }}{{ colorform.parentprefix }}</div>
                {% endif %}
            {% endfor %}
        </fieldset>
    {% endfor %}
    <input type='hidden' name='categorycount' value='{{ categorycount }}'/>
    <input type='hidden' name='colorcount' value='{{ colorcount }}'/>
    <input type='submit' value='submit'/>
    </form>
{% endblock %}
