{% extends "sales/base.html" %}

{% block extrahead %}{{ block.super }}
    <style type="text/css">
        .price {
            border:none !important;
        }
    </style>
    <script type="application/javascript" src="/static/common/js/jquery.jstree.js"></script>
    <script type="application/javascript">
        $(function createtree() {
            $('#styletree').jstree({ 
                "plugins" : [ "themes", "html_data", "ui", "crrm" ],
                "themes" : {
                    "theme" : "default"
                },
                "core" : {
                    "initially_open" : ["unique", "public"]
                }
            });
        });

		$(function() {
			$("#id_CustomerAddress option").remove();
		});
		
		$(function() {
	        $('#id_Customer').bind('change',function(){
                selectcustomer(this.value);
            });
        });
        
        function selectcustomer(customerid){
            $('#id_CustomerAddress').find('option').remove()
            $.get('/data/customeraddresses/', {"customerid": customerid}, function(data){
                $.each(data, function(i, item) {
                    $('#id_CustomerAddress').append(new Option(item.fields.Address1 + ', ' + item.fields.City, item.pk));
                });
            });
            addstyles(customerid);
        }
        
        function addstyles(customerid){
            $("#styletree").jstree("remove","#unique");
            $("#styletree").jstree("create","#styletree","first",{"data":"Unique to this Customer","attr":{"id":"unique"}},false,true);
            $.get('/data/shirtstyles', {"customerid": customerid}, function(data){
                $.each(data, function(i, item) {
                    $("#styletree").jstree("create","#unique","last",{"data":item.fields.ShirtStyleNumber + " " + item.fields.ShirtStyleDescription,"attr":{"id":item.pk,"onDblClick":"addstyle(" + item.pk + ")"}},false,true);
                });
                addvariations(customerid);
            });
        }
        
        function addvariations(customerid){
            $.get('/data/shirtstylevariations', {"customerid": customerid}, function(data){
                $.each(data, function(i, item) {
                    $('#styletree').jstree("create","#" + item.fields.ShirtStyle,"last",{"data":item.fields.ShirtStyleNumber,"attr":{"id":item.pk,"onDblClick":"addstyle(''," + item.pk + ")"}},false,true);
                });
            });
        }
        
        var prefix = 1;
        function addstyle(shirtstyleid, shirtstylevariationid){
            if(shirtstylevariationid){
                var params = {shirtstylevariationid: shirtstylevariationid};
            }
            else{
                var params = {shirtstyleid: shirtstyleid};
            }
            params["prefix"] = prefix;
            $.get('/shirtorders/orderline', params, function(data){
                $('#orderstyles').append(data);
                $('#rows').val(prefix);
                ++prefix;
            });
            window.event.cancelBubble = true;
        }
        
        function removestyle(orderstyle){
            $('#row' + orderstyle).remove();
        }
        
        function selectcolor(colorid, shirtstyleid, prefix){
            if(colorid != ''){
                $.get('/data/styleprices', {"colorid": colorid, "shirtstyleid": shirtstyleid}, function(data){
                    $('#row' + prefix + " input.quantity[type=text]").attr('disabled', true);
                    $('#row' + prefix + ' .price, #row' + prefix + ' .pricefkey').val('');
                    $.each(data, function(i, item) {
                        //alert('price' + row + '-' + item.fields.ShirtSize);
                        $('#row' + prefix + ' .price.size' + item.fields.ShirtSize).val(item.fields.ShirtPrice);
                        $('#row' + prefix + ' .quantity.size' + item.fields.ShirtSize).attr('disabled', false);
                        $('#row' + prefix + ' .pricefkey.size' + item.fields.ShirtSize).val(item.pk);
                    });
                });
            }
        }
    </script>
{% endblock %}

{% block body %}
    <form method="post" action="">
    {% csrf_token %}
        <table>
            {{ shirtorder }}
        </table>
        <div id="styletree" style="float:left;">
            <ul>
                <li id="unique"><a href="">Unique to this Customer</a></li>
                <li id="public"><a href="">Public Styles</a><ul>
                    {% for ss in shirtstyles %}
                        {% if ss.Customer == None %}
                            <li id={{ ss.id }} onDblClick='addstyle(this.id)'><a href="">{{ ss }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul></li>
            </ul>
        </div>

        <table id="orderstyles" style="float:left;margin-left:20px;">
            {% include "sales/shirtorders/orderline.html" %}
        </table>
        <input type="hidden" id="rows" name="rows" value="0"/>
        <div class="clear"></div>
        <input type="submit" value="Submit"/>
    </form>
{% endblock %}
