{% load orderform_extras %}
{% for orderline in orderlines %}
    <tr id='row{{ orderline.prefix }}'>
        <td style='vertical-align:middle;' class='delete'>
            <div class="valign" onClick="removestyle('{{ orderline.prefix }}')"><a class='inline-deletelink' href='javascript:void(0)'>Remove</a></div>
        </td>
        <td>
        <h4 class="valign">
        {% if orderline.shirtstylevariation %}
            {{ orderline.shirtstylevariation.ShirtStyleNumber }}
        {% else %}
            {{ orderline.shirtstyle.ShirtStyleNumber }} 
        {% endif %}
        {{ orderline.shirtstyle.ShirtStyleDescription }}</h4></td>
        <td>{{ orderline.color }}{{ orderline.shirtstylevariationid }}{{ orderline.sizes }}{{ orderline.shirtstyleid }}{{ orderline.delete }}</td>
        {% for quantity, price, pricefkey, skuinstance in orderline.fieldlist %}
            <td>
            {{ quantity.label }}
            ${{ price }}<br/>
            {{ quantity }}<br/>
            {{ pricefkey }}
            {{ skuinstance }}
            </td>
        {% endfor %}
    </tr>
{% endfor %}
