{% extends "sales/search.html" %}

{% block results %}
{% if shirtorders %}
  <table class="table table-bordered table-striped table-condensed">
    <tr>
        <th>Order ID</th>
        <th>PO Number</th>
        <th>Customer</th>
        <th>Ship Address</th>
        <th>Due Date</th>
        <th>Shipped Complete</th>
    </tr>
    {% for shirtorder in shirtorders %}
    <tr>
        <td><a href='/shirtorders/{{ shirtorder.pk }}'>{{ shirtorder.pk }}</a></td>
        <td><a href='/shirtorders/{{ shirtorder.pk }}'>{{ shirtorder.PONumber }}</a></td>
        <td><a href='/shirtorders/{{ shirtorder.pk }}'>{{ shirtorder.Customer }}</a></td>
        <td><a href='/shirtorders/{{ shirtorder.pk }}'>{{ shirtorder.CustomerAddress }}</a></td>
        <td><a href='/shirtorders/{{ shirtorder.pk }}'>{{ shirtorder.DueDate }}</a></td>
        <td><a href='/shirtorders/{{ shirtorder.pk }}'>{{ shirtorder.Complete }}</a></td>
    </tr>
    {% endfor %}
  </table>
{% else %}
  <p>No orders found</p>
{% endif %}
{% endblock %}
