{% extends "sales/base.html" %}

{% block body %}
<a href="{{ shirtorder.id }}/edit/">edit order</a>
<h3>Customer Info</h3>
<table class="table table-bordered table-condensed">
    <tr>
        <td>Customer</td>
        <td>{{ shirtorder.CustomerAddress.Customer }}</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{ shirtorder.CustomerAddress }}</td>
    </tr>
    <tr>
        <td>PO Number</td>
        <td>{{ shirtorder.PONumber }}</td>
    </tr>
</table>

<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th>Style</th>
        <th>Color</th>
        <th>Size</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Extension</th>
    </tr>
    {% for ordersku in orderskus %}
        <tr>
            <td>{{ ordersku.ShirtPrice.ShirtStyle.ShirtStyleNumber }}</td>
            <td>{{ ordersku.Color }}</td>
            <td>{{ ordersku.ShirtPrice.ShirtSize.ShirtSizeAbbr }}</td>
            <td>{{ ordersku.OrderQuantity }}</td>
            <td>${{ ordersku.Price }}</td>
            <td>${{ ordersku.Extension }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
