{% extends "sales/base.html" %}

{% load orderform_extras %}

{% block body %}

    <h1>Add Shirt Style</h1>

    <form method="post">

        {% csrf_token %}

        {# Non-matrix fields #}
        <table>
            {% for field in form %}
                {% if not field.field.ccName %}
                    <tr><td>{{ field.label }}</td><td>{{ field }}</td></tr>
                {% endif %}
            {% endfor %}
        </table>

        {# Matrix controls #}
        <ul>
            <h1>Color Categories</h1>
            {% for ccName in ccNames %}
                <li><input type="checkbox">{{ ccName }}</li>
            {% endfor %}
        </ul>
        <ul>
            <h1>Sizes</h1>
            {% for sizeName in sizeNames %}
                <li><input type="checkbox">{{ sizeName }}</li>
            {% endfor %}
        </ul>

        {# Matrix #}
        <table>
            <thead>
                <tr>
                    <th></th>
                    {% for sizeName in sizeNames %}
                        <th>{{ sizeName }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for ccName in ccNames %}
                    <tr>
                        <th scope="row">{{ ccName }}</th>
                        {% for field in form %}
                            {% if field.field.ccName == ccName %}
                                <td>{{ field }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <input type="submit" value="Submit">

    </form>

{% endblock %}
