{# Add/edit page for ShirtStyles #}

{% extends "sales/base.html" %}

{% load orderform_extras %}

{% block extrahead %}

    <style type="text/css">

        .error input {
            background-color: #F88;
        }

        .m_ctrls {
            float: left;
        }

        .m_ctrls h1,
        #matrix_wrapper h1 {
            font-size: 18px;
        }

        #matrix_wrapper {
            clear: both;
        }

        #matrix td,
        #matrix th {
            max-width: 50px;
        }

        #matrix input[type=text] {
            width: 50px;
        }

    </style>

    <script type="application/javascript">

        var rows = {}, cols = {};
        $(function() {

            {# Force any matrix rows/cols with initial data to be displayed #}
            $('#matrix input:text[value!=""]').each(function(i, e) {
                rows[$(e).data("cc")] = true;
                cols[$(e).data("size")] = true;
            });

            {# Iterate over matrix controls to init rest of matrix state & #}
            {# sync controls with previously-defined state #}
            $("#cc_ctrls input").each(function(i, e) {
                var cc = $(e).data("cc");
                if (rows[cc] === undefined)
                    rows[cc] = e.checked;
                else
                    e.checked = rows[cc];
            });
            $("#size_ctrls input").each(function(i, e) {
                var size = $(e).data("size");
                if (cols[size] === undefined)
                    cols[size] = e.checked;
                else
                    e.checked = cols[size];
            });

            m_update();

        });

        function m_update() {
            for (r in rows)
                $("#mrow_" + r).toggle(rows[r]);
            for (c in cols)
                $(".mcol_" + c).toggle(cols[c]);
        }

        {# Enable/disable a color category row in the matrix #}
        function mctl_chg_cc(ccName, enable) {
            rows[ccName] = enable;
            m_update();
        }

        {# Enable/disable a shirt size column in the matrix #}
        function mctl_chg_size(sizeName, enable) {
            cols[sizeName] = enable;
            m_update();
        }

    </script>

{% endblock %}

{% block body %}

    <h1>{% if not form.pk.value %}Add{% else %}Edit{% endif %} Shirt Style</h1>

    <form method="post">

        {% csrf_token %}

        {# Hidden fields #}
        {% for field in form %}
            {% if field.field.widget.is_hidden %}
                {{ field }}
            {% endif %}
        {% endfor %}

        {# Non-matrix fields #}
        <table>
            {% for field in form %}
                {% if not field.field.ccName and not field.field.widget.is_hidden %}
                    <tr{% if field.errors %} class="error"{% endif %}><td>{{ field.label }}</td><td>{{ field }}</td><td>{{ field.errors }}</td></tr>
                {% endif %}
            {% endfor %}
        </table>

        {# Matrix controls #}
        <ul class="m_ctrls" id="cc_ctrls">
            <h1>Color Categories</h1>
            {% for ccName in ccNames %}
                <li><input type="checkbox" onchange="mctl_chg_cc('{{ ccName|unspace }}', this.checked);" data-cc="{{ ccName|unspace }}">{{ ccName }}</li>
            {% endfor %}
        </ul>
        <ul class="m_ctrls" id="size_ctrls">
            <h1>Sizes</h1>
            {% for sizeName in sizeNames %}
                <li><input type="checkbox" onchange="mctl_chg_size('{{ sizeName|unspace }}', this.checked);" data-size="{{ sizeName|unspace }}">{{ sizeName }}</li>
            {% endfor %}
        </ul>

        {# Matrix #}
        <div id="matrix_wrapper">
            <h1>Pricing</h1>
            <table id="matrix">
                <thead>
                    <tr>
                        <th></th>
                        {% for sizeName in sizeNames %}
                            <th><span class="mcol_{{ sizeName|unspace }}">{{ sizeName }}</span></th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for ccName in ccNames %}
                        <tr id="mrow_{{ ccName|unspace }}">
                            <th scope="row">{{ ccName }}</th>
                            {% for field in form %}
                                {% if field.field.ccName == ccName %}
                                    <td{% if field.errors %} class="error"{% endif %}>{{ field }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <input type="submit" value="Submit">

    </form>

{% endblock %}
