{% extends "admin/change_form.html" %}

{% block extrahead %}{{ block.super }}
    <script type="application/javascript">
        $(function createtree() {
            $('#styletree').jstree({ 
                "plugins" : [ "themes", "html_data", "ui", "crrm" ],
                "themes" : {
                    "theme" : "default"
                },
                "core" : {
                    "initially_open" : ["unique", "public"]
                }
            });
        });
        
        function selectcustomer(customerid){
            $('#id_Address').find('option').remove()
            $.get('/app/addresses', {"customerid": customerid}, function(data){
                $.each(data, function(i, item) {
                    $('#id_Address').append(new Option(item.fields.Address1 + ', ' + item.fields.City, item.pk));
                });
            });
            addstyles(customerid);
        }
        
        function addstyles(customerid){
            $("#styletree").jstree("remove","#unique");
            $("#styletree").jstree("create","#styletree","first",{"data":"Unique to this Customer","attr":{"id":"unique"}},false,true);
            $.get('/app/shirtstyles', {"customerid": customerid}, function(data){
                $.each(data, function(i, item) {
                    $("#styletree").jstree("create","#unique","last",{"data":item.fields.ShirtStyleNumber + " " + item.fields.ShirtStyleDescription,"attr":{"id":item.pk,"onDblClick":"addstyle(" + item.pk + ")"}},false,true);
                });
                addvariations(customerid);
            });
        }
        
        function addvariations(customerid){
            $.get('/app/shirtstylevariations', {"customerid": customerid}, function(data){
                $.each(data, function(i, item) {
                    $('#styletree').jstree("create","#" + item.fields.ShirtStyle,"last",{"data":item.fields.ShirtStyleNumber,"attr":{"id":item.pk,"onDblClick":"addstyle(''," + item.pk + ")"}},false,true);
                });
            });
        }
        
        var prefix = 1;
        function addstyle(shirtstyleid, shirtstylevariationid){
            if(shirtstylevariationid){
                var params = {shirtstylevariationid: shirtstylevariationid};
            }
            else{
                var params = {shirtstyleid: shirtstyleid};
            }
            params["prefix"] = prefix;
            $.get('/admin/orderform/', params, function(data){
                $('#orderstyles').append(data);
                ++prefix;
            });
            window.event.cancelBubble = true;
        }
        
        function removestyle(orderstyle){
            $('#row' + orderstyle).remove();
        }
        
        function selectcolor(colorid, shirtstyleid, prefix){
            if(colorid != ''){
                $.get('/app/styleprices', {"colorid": colorid, "shirtstyleid": shirtstyleid}, function(data){
                $('.price' + prefix).html('');
                $('#row' + prefix + " input[type=text]").attr('disabled', true);
                    $.each(data, function(i, item) {
                        //alert('price' + row + '-' + item.fields.ShirtSize);
                        $('#price' + prefix + '-' + item.fields.ShirtSize).html(" - $" + item.fields.ShirtPrice);
                        $('#id_' + prefix + '-' + item.fields.ShirtSize).attr('disabled', false);
                    });
                });
            }
        }
    </script>
{% endblock %}

{% block content %}
<fieldset class="module aligned ">
    <div class="form-row">
        <div>
            <label for="id_Customer" class="required">Customer</label>
            <select name="customer" id="id_Customer" onChange="selectcustomer(this.value);">
                <option value="" selected="selected">---------</option>
                {% for cust in customers %}
                    <option value="{{ cust.id }}">{{ cust }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div>
            <label for="id_Address" class="required">Delivery Address</label>
            <select name="address" id="id_Address">
                <option value="" selected="selected">---------</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div>
            <label for="address_id" class="required">PO Number</label>
            <input name="ponumber" value="" class="vTextField" maxlength="20" type="text" id="id_PONumber">
        </div>
    </div>
</fieldset>

<div id="styletree" style="float:left;">
    <ul>
        <li id="unique"><a href="">Unique to this Customer</a></li>
        <li id="public"><a href="">Public Styles</a><ul>
            {% for ss in shirtstyles %}
                {% if ss.Customer == None %}
                    <li id={{ ss.id }} onDblClick='addstyle(this.id)'><a href="">{{ ss }}</a></li>
                {% endif %}
            {% endfor %}
        </ul></li>
    </ul>
</div>

<table id="orderstyles" style="float:left;margin-left:20px;">

</table>
{% endblock %}
