{% extends "admin/change_form.html" %}

{% block extrahead %}{{ block.super }}
    <script type="application/javascript">
        $(function createtree() {
            $('#styletree').jstree({ 
                "plugins" : [ "themes", "html_data", "ui", "crrm" ],
                "themes" : {
                    "theme" : "default"
                },
                "core" : {
                    "initially_open" : ["unique", "public"]
                }
            });
        });
        
        function selectcustomer(customerid){
            $('#id_Address').find('option').remove()
            $.get('/app/addresses', {"customerid": customerid}, function(data){
                $.each(data, function(i, item) {
                    $('#id_Address').append(new Option(item.fields.Address1 + ', ' + item.fields.City, item.pk));
                });
            });
            addstyles(customerid);
        }
        
        function addstyles(customerid){
            $("#styletree").jstree("remove","#unique");
            $("#styletree").jstree("create","#styletree","first",{"data":"Unique to this Customer","attr":{"id":"unique"}},false,true);
            $.get('/app/shirtstyles', {"customerid": customerid}, function(data){
                $.each(data, function(i, item) {
                    $("#styletree").jstree("create","#unique","last",{"data":item.fields.ShirtStyleNumber + " " + item.fields.ShirtStyleDescription,"attr":{"id":item.pk,"onDblClick":"addstyle(" + item.pk + ")"}},false,true);
                });
                addvariations(customerid);
            });
        }
        
        function addvariations(customerid){
            $.get('/app/shirtstylevariations', {"customerid": customerid}, function(data){
                $.each(data, function(i, item) {
                    $('#styletree').jstree("create","#" + item.fields.ShirtStyle,"last",{"data":item.fields.ShirtStyleNumber,"attr":{"id":item.pk,"onDblClick":"addstyle(''," + item.pk + ")"}},false,true);
                });
            });
        }
        
        var orderstyle = 1
        function addstyle(shirtstyleid, shirtstylevariationid){
            if(!shirtstylevariationid){
                var url = '/app/shirtstyles';
                var parametervalue = shirtstyleid;
            }
            else{
                var url = '/app/shirtstylevariations';
                var parametervalue = shirtstylevariationid;
            }
            $.get(url, {id: parametervalue, getparent: "true"}, function(data){
                if(!shirtstylevariationid){
                    var shirtstyledescription = data[0].fields.ShirtStyleDescription;
                }
                else{
                    var shirtstyledescription = data[0].fields.ShirtStyle.fields.ShirtStyleDescription;
                    shirtstyleid = data[0].fields.ShirtStyle.pk;
                }
                $('#orderstyles').append("<tr id='row" + orderstyle + "'><td style='vertical-align:middle;' class='delete'><div onClick='removestyle(" + orderstyle + ")'><a class='inline-deletelink' href='javascript:void(0)'>Remove</a></div></td><td><h4>" + data[0].fields.ShirtStyleNumber + " " + shirtstyledescription + "</h4></td><td style='vertical-align:middle'><select onChange='selectcolor(this.value, " + shirtstyleid + ", " + orderstyle + ")' id='color" + orderstyle + "'></select></td></tr>");
                $.get('/app/shirtsizes', {"shirtstyleid": shirtstyleid}, function(data){
                    $.each(data, function(i, item) {
                        $('#row' + orderstyle).append("<td>" + item.fields.ShirtSizeAbbr + "<span id=price" + orderstyle + "-" + item.pk + " class=price" + orderstyle + "></span><br/><input type='text' style='width:50px;' id=input" + orderstyle + "-" + item.pk + " class=input" + orderstyle + " disabled=true/></td>");
                    });
                });
                $.get('/app/colors', {"shirtstyleid": shirtstyleid}, function(data){
                    $('#color' + orderstyle).append(new Option('-----', ''));
                    $.each(data, function(i, item) {
                        $('#color' + orderstyle).append(new Option(item.fields.ColorName, item.pk));
                    });
                    orderstyle += 1;
                });
            });
            window.event.cancelBubble = true
        }
        
        function removestyle(orderstyle){
            $('#row' + orderstyle).remove();
        }
        
        function selectcolor(colorid, shirtstyleid, row){
            $('.price' + row).html('');
            $('.input' + row).attr('disabled', true);
            if(colorid != ''){
                $.get('/app/styleprices', {"colorid": colorid, "shirtstyleid": shirtstyleid}, function(data){
                    $.each(data, function(i, item) {
                        //alert('price' + row + '-' + item.fields.ShirtSize);
                        $('#price' + row + '-' + item.fields.ShirtSize).html(" - $" + item.fields.ShirtPrice);
                        $('#input' + row + '-' + item.fields.ShirtSize).attr('disabled', false);
                    });
                });
            }
        }
    </script>
{% endblock %}

{% block content %}
<fieldset class="module aligned ">
    <div class="form-row">
        <div>
            <label for="id_Customer" class="required">Customer</label>
            <select name="customer" id="id_Customer" onChange="selectcustomer(this.value);">
                <option value="" selected="selected">---------</option>
                {% for cust in customers %}
                    <option value="{{ cust.id }}">{{ cust }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div>
            <label for="id_Address" class="required">Delivery Address</label>
            <select name="address" id="id_Address">
                <option value="" selected="selected">---------</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div>
            <label for="address_id" class="required">PO Number</label>
            <input name="ponumber" value="" class="vTextField" maxlength="20" type="text" id="id_PONumber">
        </div>
    </div>
</fieldset>

<div id="styletree" style="float:left;">
    <ul>
        <li id="unique"><a href="">Unique to this Customer</a></li>
        <li id="public"><a href="">Public Styles</a><ul>
            {% for ss in shirtstyles %}
                {% if ss.Customer == None %}
                    <li id={{ ss.id }} onDblClick='addstyle(this.id)'><a href="">{{ ss }}</a></li>
                {% endif %}
            {% endfor %}
        </ul></li>
    </ul>
</div>

<table id="orderstyles" style="float:left;margin-left:20px;">

</table>
{% endblock %}
